body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#404040, #313131);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.solar-system {
    position: relative;
    width: 800px;
    height: 800px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background: radial-gradient(circle, #ffa600, #ff9d00);
    border-radius: 50%;
    box-shadow: 0 0 80px 70px rgb(255, 255, 59);
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1.5px dashed #ffffff; /* Dashed orbit line */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.mercury-orbit {
    width: 320px;
    height: 320px;
    animation: rotate-orbit 4s linear infinite;
}

.venus-orbit {
    width: 510px;
    height: 510px;
    animation: rotate-orbit 6s linear infinite;
}

.earth-orbit {
    width: 560px;
    height: 560px;
    animation: rotate-orbit 8s linear infinite;
}

.mars-orbit {
    width: 300px;
    height: 300px;
    animation: rotate-orbit 10s linear infinite;
}

.jupiter-orbit {
    width: 410px;
    height: 410px;
    animation: rotate-orbit 12s linear infinite;
}

.saturn-orbit {
    width: 550px;
    height: 550px;
    animation: rotate-orbit 14s linear infinite;
}

.uranus-orbit {
    width: 650px;
    height: 650px;
    animation: rotate-orbit 16s linear infinite;
}

.neptune-orbit {
    width: 750px;
    height: 750px;
    animation: rotate-orbit 18s linear infinite;
}

.planet {
    position: absolute;
    top: 65%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.planet img {
    width: 150%;
    height: 150%;
    object-fit: contain;
    border-radius: 50%; /* Make planet images circular */
}

.jupiter img {
    width: 100px;
    height: 100px;
}

.saturn img {
    width: 50px;
    height: 50px;
}

/* Style for the stars */
.star {
    position: absolute;
    width: 2px; 
    height: 2px;
    background-color: #ffffff; 
    border-radius: 50%; 
    opacity: 0.8; 
    animation: twinkle 3s infinite; 
}


@keyframes rotate-orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes twinkle {
    0%,100% {
        opacity: 1;
    }
    25%,50% {
        opacity: 0.8;
    }
}

/* Responsivement */
@media screen and (min-width: 789px) {
    .solar-system {
        width: 600px;
        height: 600px;
    }
}
