body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#404040, #313131);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.solar-system {
    position: relative;
    width: 800px;
    height: 800px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, yellow, orange);
    border-radius: 50%;
    box-shadow: 0 0 40px 20px yellow;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px dashed rgba(255, 255, 255, 0.5); /* Dashed orbit line */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.mercury-orbit {
    width: 120px;
    height: 120px;
    animation: rotate-orbit 4s linear infinite;
}

.venus-orbit {
    width: 180px;
    height: 180px;
    animation: rotate-orbit 6s linear infinite;
}

.earth-orbit {
    width: 240px;
    height: 240px;
    animation: rotate-orbit 8s linear infinite;
}

.mars-orbit {
    width: 300px;
    height: 300px;
    animation: rotate-orbit 10s linear infinite;
}

.jupiter-orbit {
    width: 400px;
    height: 400px;
    animation: rotate-orbit 12s linear infinite;
}

.saturn-orbit {
    width: 500px;
    height: 500px;
    animation: rotate-orbit 14s linear infinite;
}

.uranus-orbit {
    width: 600px;
    height: 600px;
    animation: rotate-orbit 16s linear infinite;
}

.neptune-orbit {
    width: 700px;
    height: 700px;
    animation: rotate-orbit 18s linear infinite;
}

.planet {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.planet img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%; /* Make planet images circular */
}

.jupiter img {
    width: 60px;
    height: 60px;
}

.saturn img {
    width: 70px;
    height: 70px;
}

/* Style for the stars */
.star {
    position: absolute;
    width: 2px; 
    height: 2px;
    background-color: white; 
    border-radius: 50%; 
    opacity: 0.8; 
    animation: twinkle 3s infinite; 
}


@keyframes rotate-orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
}